body {
    background: url('login_image.jpeg') no-repeat center center;
    background-size: 140% 100%; /* Stretch the image widely */
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: #fff; /* Set default text color */
    margin: 0; /* Reset margin */
    overflow: hidden; /* Hide overflow from body */
}


/* Added CSS to disable mirroring for the video element */
#video {
transform: scaleX(-1); /* Disable mirroring */
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 80vh; /* Reduced height to allow for spacing */
    width: calc(400px + 17px); /* Adjusted width to account for scrollbar width */
    margin: 10vh auto; /* Center horizontally and provide space from top and bottom */
    margin-bottom: 20px; /* Additional margin at the bottom */
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset -10px -10px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding: 20px;
    overflow-y: auto;
}

/* Thin dark black scrollbar */
::-webkit-scrollbar {
    width: 5px; /* Set the width */
    margin-right: -5px; /* Move the scrollbar to the left */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2); /* Set the background color of the track */
}


::-webkit-scrollbar-thumb {
  background: #fff; /* Set the color of the thumb */
  border-radius: 10px; /* Set border radius */
}

form h1 {
    color: white;
    font-size: 3rem;
    border-bottom: 4px solid rgba(255, 255, 255, 0.5);
    margin: 20px auto; /* Center the heading horizontally with spacing */
    text-align: center; /* Center the text */
}

.input-container {
    position: relative;
    margin-bottom: 10px;
    display: flex;
}

.input-container input {
    margin-top: 5px;
    padding: 12px;
    width: calc(100% - 30px);
    border: none;
    outline: none;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.5);
    color: black;
    font-size: 1rem;
}

.field-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
}

.field-icon i {
    color: rgba(255, 255, 255, 0.8);
}


.input-container input::placeholder {
    color: #000; /* Dark black color */
}

.input-container input:focus::placeholder,
.input-container input:not(:placeholder-shown)::placeholder {
    color: transparent;
}

.CapturePhoto-button {
    padding: 12px 24px; /* Adjust padding */
    border: none;
    outline: none;
    border-radius: 20px; /* Make button properly curved */
    background-color: rgb(255, 255, 255); /* RGB color */
    color: #333333;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1); /* Add 3D effect */
}

.CapturePhoto-button:hover {
    background-color: rgb(220, 220, 220); /* Darker color on hover */
}

.register-button {
    padding: 12px 24px; /* Adjust padding */
    border: none;
    outline: none;
    border-radius: 20px; /* Make button properly curved */
    background-color: rgb(255, 255, 255); /* RGB color */
    color: #333333;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1); /* Add 3D effect */
}

.register-button:hover {
    background-color: rgb(220, 220, 220); /* Darker color on hover */
}

